requests
litellm
PyPDF2
PyMuPDF
python-dotenv
torch
transformers
accelerate
sentencepiece
pyarrow
sentence-transformers
scikit-learn
numpy
scipy
matplotlib
torch
transformers==4.57.1
pandas
pyarrow
rouge_score
lm-eval
accelerate
peft